body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #79c2ff, #9cd7ff);
}


nav {
    background-color: #0d6efd;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.bio-box {
    width: 70%;
    margin: 40px auto;
    background: #f5d77b;
    padding: 35px;
    display: flex;
    align-items: flex-start;
    gap: 25px;

    border-radius: 18px;
    clip-path: polygon(
        5% 0, 95% 0, 100% 12%, 100% 88%,
        95% 100%, 5% 100%, 0 88%, 0 12%
    );
}

.bio-img {
    width: 190px;
    height: auto;
    border-radius: 10px;
}

.bio-text h1 {
    margin-top: 0;
    font-size: 33px;
    margin-bottom: 15px;
}

.bio-text p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px;
}

.pie {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 25px 10px;
    margin-top: 50px;
    font-size: 16px;
    border-top: 5px solid #7b0c24;
}

.pie a {
    color: #ffd8d8;
    text-decoration: none;
    font-weight: bold;
}

.pie a:hover {
    text-decoration: underline;
}
