body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,#79c2ff, #9cd7ff);
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #0d6efd;
    padding: 12px;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: black(255, 255, 255, 0);
    margin-top: 25px;
    font-size: 40px;
}

.contenedor {
    width: 80%;
    margin: 40px auto;
    display: flex;
    gap: 30px;
    padding: 25px;
    background: #ffffffd7;
    border-radius: 20px;
    border: 5px solid #8a1538;
}

.imagen img {
    width: 320px;
    height: auto;
    border-radius: 15px;
    border: 4px solid #8a1538;
}

.texto {
    flex: 1;
}

h2 {
    color: #0d3c80;
    margin-bottom: 10px;
}

.texto p {
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    background-color: #4aa8ff;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #073a62;
}

.pie {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 25px 10px;
    margin-top: 50px;
    font-size: 16px;
    border-top: 5px solid #7b0c24; 
}

.pie a {
    color: #ffd8d8;
    text-decoration: none;
    font-weight: bold;
}

.pie a:hover {
    text-decoration: underline;
}