body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(#79c2ff, #9cd7ff);
    text-align: center;
}

.menu {
    background-color:  #0d6efd;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}


h1 {
    color: black(255, 255, 255, 0);
    font-size: 40px;
    margin-top: 35px;
    text-shadow: 0 0 5px #e0dcdc;
}

.premios-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.tarjeta-premio {
    width: 240px;
    background: #fff9b8;
    border-radius: 18px;
    border: 5px solid #7a1d1d;
    text-decoration: none;
    color: black;
    transition: 0.25s;
}

.tarjeta-premio:hover {
    transform: scale(1.06);
}

.tarjeta-premio img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}

.tarjeta-premio p {
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.pie {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 25px 10px;
    margin-top: 50px;
    font-size: 16px;
    border-top: 5px solid #7b0c24; 
}

.pie a {
    color: #ffd8d8;
    text-decoration: none;
    font-weight: bold;
}

.pie a:hover {
    text-decoration: underline;
}