body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #79c2ff, #9cd7ff);
}

nav {
    background-color: #0d6efd;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000030;
}

h2 {
    text-align: center;
    color: #0d6efd;
}

.texto {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
    margin-top: 10px;
}

.cuadros {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.cuadro {
    flex: 1;
    background: #e7f4ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px #00000025;
}

.cuadro h3 {
    text-align: center;
    color: #0d6efd;
}

.pie {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 25px 10px;
    margin-top: 50px;
    font-size: 16px;
    border-top: 5px solid #7b0c24;
}

.pie a {
    color: #ffd8d8;
    text-decoration: none;
    font-weight: bold;
}

.pie a:hover {
    text-decoration: underline;
}